.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid {
  background: #BBBBBB;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 90vh;
  padding: 12px 4px;
  }

.sidebarMenu {
  width: 100%;
  background-color: rgba(21, 0, 34, 0.8);
  color: white;
  border-radius: 8px;
}

.sideItems {
  padding: 4% 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.sideItemsActive {
  padding: 4% 0;
  border-radius: 8px;
  background-color: darkred;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.sideItems > a {
  color: white;
}

.sideItems > a:hover {
  color: white;
  text-decoration: none;
}

.sideItemsActive > a {
  color: white;
}

.sideItemsActive > a:hover {
  color: white;
  text-decoration: none;
}

.gridFiveColumns {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.myProPagination {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none !important;
  margin: auto;
  direction: ltr;
  padding-inline-start: 0px !important;
}

.myProPagination > li > a {
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1vw
}

.myProPagination > li {
  border-radius: 8px;
  width: 8%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
}
.myProPagination > li > a:hover {
  outline: none;
}

.myProPaginationLi {
  color: black !important;
  height: 2vw;
  text-align: center;
}

.activeLiMyPro {
  background-color: white;
  border-radius: 8px;
  width: 8%;
  text-align: center;
  height: 2vw;
}

.activeLiMyPro > a {
  color: black !important;
  outline: none;
  font-size: 0.8vw;
}